@use 'resets.sass'

// Card container
.card
	width: min(20rem, 100%)
	margin: 0 auto
	padding: 1.25rem
	font-family: resets.$primary-font
	background-color: resets.$dark-grey
	border-radius: 0.5rem

// Profile info
.profile
	@include resets.flexbox(column, center, center, 0.5rem)

.profile__picture
	width: 5rem
	height: 5rem
	border-radius: 100%

.profile__name
	margin: 0.5rem 0 0
	font-size: resets.$lg-size
	font-weight: resets.$semi-bold
	color: resets.$white

.profile__country
	font-size: resets.$sm-size
	font-weight: resets.$bold
	color: resets.$green

.profile__profession
	font-size: resets.$sm-size
	color: resets.$white

// Social media links
.social-media
	@include resets.flexbox(column, start, center, 1rem)
	margin-block-start: 1rem

.social-btn
	padding: 0.5rem
	width: 100%
	height: 2rem
	font-size: resets.$sm-size
	font-weight: resets.$semi-bold
	text-decoration: none
	text-align: center
	color: resets.$white
	background-color: resets.$grey
	border: none
	border-radius: 0.25rem
	transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out
	color: resets.$white

	&:hover
		cursor: pointer
		color: resets.$dark-grey
		background-color: resets.$green

	@media (prefers-reduced-motion: reduce)
		transition: none
