@import 'guide.scss';

// Main Container
.main-wrapper {
	width: 300px;
	height: 520px;
	padding: 20px;
	font-family: $primary-font;
	background-color: $dark-grey;
	border-radius: 10px;
}

// Profile Section
.profile {
	@include flexbox(column, center, center, 10px);
}
.profile__picture {
	width: 80px;
	height: 80px;
	border-radius: 100%;
}
.profile__name {
	margin: 10px 0 0;
	font-size: $lg-size;
	font-weight: $semi-bold;
	color: $white;
}
.profile__country {
	margin: 0;
	font-size: $sm-size;
	font-weight: $bold;
	color: $green;
}
.profile__profession {
	font-size: $sm-size;
	color: $white;
}

// Social Media Section
.social-media {
	@include flexbox(column, start, center, 20px);
	margin-top: 10px;
}
.social-btn {
	width: 100%;
	height: 35px;
	background-color: $grey;
	border: none;
	border-radius: 5px;
	a {
		font-weight: $semi-bold;
		color: $white;
		text-decoration: none;
		&:visited {
			color: $white;
		}
	}
	&:hover {
		cursor: pointer;
		background-color: $green;
		a {
			color: $dark-grey;
		}
	}
}
